@font-face {
    font-family: 'OpenSansRegular';
    src: url('./assets/fonts/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('./assets/fonts/OpenSansCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('./assets/fonts/OpenSansCondensed-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenSansLight', sans-serif;
    font-weight: normal;
}
